[Unit]
Description=Start the Chrome Sender API Chromecast within Firefox
After=network-online.target remote-fs.target systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/opt/fx_cast/fx_cast_bridge
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
