[Unit]
Description=Start the Chrome Sender API Chromecast within Firefox
Wants=network.target
After=network-online.target syslog.target local-fs.target

[Service]
Type=simple
ExecStart=/opt/fx_cast/fx_cast_bridge
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
